@model CMS.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SneakerNum" class="control-label fw-semibold"></label>
                <input asp-for="SneakerNum" class="form-control" />
                <span asp-validation-for="SneakerNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SneakerImg" class="control-label fw-semibold"></label>
                <input asp-for="SneakerImg" class="form-control" />
                <span asp-validation-for="SneakerImg" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label fw-semibold"></label>
                <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.Categories"></select>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label fw-semibold"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input fw-semibold" asp-for="Sale" /> @Html.DisplayNameFor(model => model.Sale)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-warning text-white fw-semibold" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
